<div class="d-flex flex-column flex-md-row align-items-center p-3
px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Studentski servis</h5>

  <nav class="text">
    <a class="p-2 text-dark lead" routerLink="/pocetna">Pocetna</a>
    <a class="p-2 text-dark lead" routerLink="/prikazStudenta">Prikaz Studenata</a>
    <a *ngIf="getAuth()" class="p-2 text-dark lead" routerLink="/mojProfil">Moj Profil</a>
    <a *ngIf="getAuth()" class="p-2 text-dark lead" routerLink="/dodajOcenu">Nova Ocena</a>

  </nav>

  <button *ngIf="getAuth()" class="btn btn-primary" (click)="logout()">Odjavi se</button>
  <div class="cart-container">
    <a *ngIf="!getAuth()" class=" btn btn-outline-secondary" routerLink="/login">Prijavi se</a>
  </div>
</div>
