<div class="row">
  <div class="col-4"></div>
  <div class="col-sm-12 col-md-4 col-12">
    <div class="container">
      <h3> Dodaj novog studenta</h3>

      <form [formGroup]="createForm" novalidate>
        <div class="form-group">
          <label>Ime:</label>
          <input class="form-control" formControlName="ime" type="text">
        </div>

        <div class="form-group">
          <label>Prezime:</label>
          <input class="form-control" formControlName="prezime" type="text">
        </div>

        <div class="form-group">
          <label>Indeks:</label>
          <input class="form-control" formControlName="indeks" type="text">
        </div>

        <div class="form-group">
          <label>Adresa:</label>
          <input class="form-control" formControlName="adresa" type="text">
        </div>

        <div class="form-group">
          <label>Pol:</label>
          <input class="form-control" formControlName="pol" type="text">
        </div>

        <div class="form-group">
          <label>Lozinka:</label>
          <input class="form-control" formControlName="lozinka" type="text">
        </div>

        <button type="submit" class="btn btn-success" (click)="onCreate()">
          Dodaj
        </button>
      </form>
    </div>
  </div>
</div>
